.hero{
    background-image: url('../images/hero-Laptop-store.png');
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    width: 100%;
    height: 100vh;
}